mixin topgame(nome)
    .boxTop
        h2.title= nome
        .info
            //- +image('time.png', 'timer')
            span.value {{ time }} 
            //- div
            //- 	span.label Turns:
            //- 	span.value {{ turns }} 